<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="index">
<title>Edition d'un produit'</title>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<meta charset="windows-1256"/>

</head>
<body>
<div layout:fragment="Mycontent">
<div>
	<span th:text=${msg} class="text-danger"> </span>
</div>
<div class="container mt-5">
<div class="card">
<div class="card-header"> Edition d'un produit </div>
<div class="card-body">
<form th:action="@{updateProduit(nf=${prod.photoProduit})}" method="post" enctype="multipart/form-data">
	
	
	 <div class="form-group">
	 <label class="control-label" hidden>Id produit :</label>
	 <input type="text"  name="idProduit" class="form-control" th:value="${prod.idProduit}" hidden/>
	<span th:errors=${prod.idProduit} class="text-danger"> </span>
	</div>	
	
	<div class="form-group">
	 <label class="control-label">Libellé produit <span class="text-danger">*</span> :</label>
	 <input type="text" name="libelleProduit" class="form-control" th:value="${prod.libelleProduit}" placeholder="saisir le nom du produit (au minimum 4 caractères)"/>
	<span th:errors=${prod.libelleProduit} class="text-danger"> </span>
	</div>
	
	<div class="form-group">
	<label class="control-label">Prix produit <span class="text-danger">*</span> :</label>
	<input type="number" name="prixProduit" class="form-control" min="5" th:value="${prod.prixProduit}" placeholder="saisir un nombre"/>
	<span th:errors=${prod.prixProduit} class="text-danger"> </span>
	</div>
	
	<div class="form-group">
	<label class="control-label">Quantité en stock <span class="text-danger">*</span>:</label>
	<input type="number" name="qteStock" class="form-control" th:value="${prod.qteStock}" placeholder="saisir un nombre"/>
	<span th:errors=${prod.qteStock} class="text-danger"> </span>
	</div>
	
	<div class="form-group">
	<label class="control-label">Photo produit <span class="text-danger">*</span> :</label>
	<input type="file" name="picture" class="form-control" th:value="${prod.photoProduit}" accept="image/png, image/jpeg, image/jpg" />
	<img th:src="@{getPhoto(NP = ${prod.photoProduit} , id = ${prod.idProduit})}" width="20%" height="20%"/>
	<span th:errors=${prod.photoProduit} class="text-danger"> </span>
	</div>
	
	<select name="etatProduit" class="form-control">
	<option>0</option><option selected>1</option>
	</select>
	<span th:text="${prod.etatProduit}"></span>
	<div>
	<button type="submit" class="btn btn-primary">Save</button>
	</div>
	
</form>

</div>
 </div>
 </div>
 
</div>

</body>
</html>