<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
 <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<head>
<meta charset="utf-8">
<title>KineCenter</title>
<link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--Owl Carousel CSS-->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.min.css">
    <!--Portfolio CSS-->
    <link rel="stylesheet" type="text/css" href="css/mixitup.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!--Slick CSS-->
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <!--Font Awesome CSS-->
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <!--Icons CSS-->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--Responsive CSS-->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
<style>

.nav-item:hover{color:lawngreen;text-transform:uppercase;}
.nav-item{font-variant:capitalized;}

@font-face {
        font-family: RobotoLight;
        src: url("police/Roboto-Light.ttf");
        }
body {font-family: RobotoLight;}
.menu{background-color:darkgreen;}

</style>

</head>
<body>
<div>
<nav class="navbar sticky-top navbar-expand-lg  font-weight-bold menu">
 <!-- Brand -->
	 
	 <div><img th:src="@{/images/logoKC.png}" width="10%" height="10%" alt="logo"/></div>
	 <!-- Links -->
	 <ul class="navbar-nav">
		 <li class="nav-item">
		 	<a class="nav-link text-light" th:href="@{/}">Home</a>
		 </li>
		 <li class="nav-item">
		 	<a class="nav-link text-light" th:href="@{ListeEvents}">Nos évènements</a>
		 </li>
		 <li class="nav-item">
		 	<a class="nav-link text-light" th:href="@{ListePrestations}">Nos prestations</a>
		 </li>
		 <li class="nav-item" sec:authorize="hasRole('ADMIN')">
		 	<a class="nav-link text-light" th:href="@{ListeUsers}">Nos Clients</a>
		 </li>
		 <li class="nav-item">
		 	<a class="nav-link text-light" th:href="@{listeProduits}">Nos Produits</a>
		 </li>
		 <!-- Dropdown -->
		 
	 </ul>
	
	 <ul class="navbar-nav ml-auto">
	 <li class="nav-item dropdown">
	 <a class="nav-link dropdown-toggle text-warning" href="#" id="navbardrop" data-toggle="dropdown">
	 <span sec:authentication="name"></span>
	 </a>
	 <div class="dropdown-menu">
	 	<a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{login}">Login</a>
 		<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{logout}">Logout</a>
 		<a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{inscriptionUser}">Inscription</a>
	 	<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{profilUser}">Profile</a>
	 </div>
	 </li>
	 </ul>
</nav>

<section layout:fragment="Mycontent" >
<div layout:fragment="Mycontent">

    <div id="preloader">
        <div class="spinner">
         <div class="rect1"></div>
         <div class="rect2"></div>
         <div class="rect3"></div>
         <div class="rect4"></div>
         <div class="rect5"></div>
     </div>
 </div>

 <!--Start Body Wrap-->
 <div id="body-wrapper">
  <!--Start Banner Section-->
    <section id="main-banner" class="bg-cover position-relative full-height text-center">
        <div class="overlay"></div>
        <div class="caption-content dp-table">
            <div class="tbl-cell position-relative">
                <h1>Aimer se d&eacute;tendre et oublier vos maux<span>, soyez au centre KineCenter</span></h1>
                <p class="color-white mt-3">D&eacute;couvrir nos massages, nos mouvements de gymnastique avec ou sans instrument, notre physioth&eacute;rapie, notre &eacute;lectroth&eacute;rapie et notre r&eacute;&eacute;ducation
                </p>
                
            </div>
        </div>
    </section>
    <!--End Banner Section-->

    <!--Start Features Section-->
    <section id="features" class="section-bottom-padding60">
        <!--Start Container-->	
        <div class="container">
            <!--Start Features Row-->
            <div class="row">
                <!--Start Feature Single-->	
				<div class="col-12">
						<div class="heading text-center">
						<h2 class="p-color">Nos Soins</h2>                
            </div>
        </div>				
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="feature-single text-center">
                        <i class="icon ion-md-heart-empty"></i>
                        <h4>Soin des affections b&eacute;nignes</h4>
                        <p>Les lombalgies, les torticolis, affections rhumatismales et les entorses</p>
                    </div>
                </div>
                <!--End Feature Single-->

                <!--Start Feature Single-->
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="feature-single text-center">
                        <i class="icon ion-md-globe"></i>
                        <h4>Soin des traumatismes</h4>
                        <p>Les traumatismes li&eacute;s aux accidents ou les cons&eacute;quences du vieillissement.</p>
                    </div>
                </div>
                <!--End Feature Single-->

                <!--Start Feature Single-->
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="feature-single text-center">
                        <i class="icon ion-md-megaphone"></i>
                        <h4>Soin des pathologies</h4>
                        <p>Les pathologies neurologiques, troubles de l'&eacute;quilibre et r&eacute;ducation</p>
                    </div>
                </div>
                <!--End Feature Single-->
            </div>
            <!--End Features Row-->
        </div>
        <!--End Container-->
    </section>
    <!--End Features Section-->

<!-- Portfolio Section -->
<section id="portfolios" class="bg-gray default-padding">
  <!-- Container Starts -->
  <div class="container">
    <!--Start Heading-->
    <div class="row">
        <div class="col-12">
            <div class="heading text-center">
                <h2 class="p-color">Nos exp&eacute;riences</h2>
                <p>Vivez avec nous nos exp&eacute;riences via cette galerie de photos</p>
            </div>
        </div>
    </div>
    <!--End Heading-->
    <div id="portfoliolist1">

        <div class="portfolio1 logo" data-cat="logo">
            <div class="portfolio-wrapper1">             
                <img src="img/Galerie/1.jpg" width="100%" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Massage visage</a>
                        
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>              

        <div class="col-12 col-lg-4 portfolio1 app" data-cat="app">
            <div class="portfolio-wrapper1">         
                <img src="img/Galerie/2.jpg" width="100%" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">R&eacute;&eacute;ducation Genou</a>                        
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>      

        <div class="col-12 col-lg-4 portfolio1 web" data-cat="web">
            <div class="portfolio-wrapper1">                     
                <img src="img/Galerie/3.jpg" width="100%" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">R&eacute;&eacute;ducation Bras</a>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>              

        <div class="col-12 col-lg-4 portfolio1 card" data-cat="card">
            <div class="portfolio-wrapper1">         
                <img src="img/Galerie/4.jpg" width="100%" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Electroth&eacute;rapie</a>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>  

        <div class="col-12 col-lg-4 portfolio1 app" data-cat="app">
            <div class="portfolio-wrapper1">
                <img src="img/Galerie/5.jpg" width="100%" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Massage cou</a>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>          

        <div class="col-12 col-lg-4 portfolio1 card" data-cat="card">
            <div class="portfolio-wrapper1">         
                <img src="img/Galerie/6.jpg" width="100%" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Soin visage</a>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>  

        <!-- mix it up js -->
        

    </div>

</div>
<!-- Container Ends -->
</section>
<!-- Portfolio Section Ends --> 

<!--Start Team Section-->
<section id="our_experts">
 <div class="container">
    <!--Start Heading-->
    <div class="row">
      <div class="col-12">
          <div class="heading text-center">
              <h2 class="p-color">Notre Equipe de KinE</h2>            
          </div>
      </div>
  </div>
  <!--End Heading-->
  <div class="row">
  <div class="col-md-3"></div>
   <div class="col-md-3">
      <div class="our_experts_img">
         <img src="img/Equipes/sadok.jpg" alt="our_experts_img" class="image">
         <div class="overlay">
            <div class="text">
               <h4>Sadok MAALOUL</h4>
               <p>Kin&eacute;sith&eacute;rapeute</p>
           </div>
       </div>
   </div>
</div>

<div class="col-md-3">
  <div class="our_experts_img">
     <img src="img/Equipes/fatma.jpg"alt="our_experts_img" class="image">
     <div class="overlay">
        <div class="text">
           <h4>Fatma CHAREF MAALOUL</h4>
           <p>Kin&eacute;sith&eacute;rapeute</p>
       </div>
   </div>
</div>
</div>

</div>
</div>
</section>
<!--End Team Section-->
<!--Start Latest Blog Section-->
<section id="latest-blog" class="bg-gray default-padding">
    <!--Start Container-->
    <div class="container">
        <!--Start Heading-->
        <div class="row">
            <div class="col-12">
                <div class="heading text-center">
                    <h2 class="p-color">Notre Blog de conseils</h2>                    
                </div>
            </div>
        </div>
        <!--End Heading-->

        <!--Start Blog Post Row-->
        <div class="row">
            <!--Start Latest Post Single-->
            <div class="col-lg-6">
                <div class="blog-post-single latest row fix">
                    <div class="col-md-6 p-0">
                        <div class="post-media position-relative">
                            <img src="img/Blog/conseil1.jpg" class="img-fluid" alt="Conseil 1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-details">
                            <div class="post-title">
                                <h4>Alimentation consistante pour une vie saine </h4>
                            </div>
                            <div class="post-content">
                                <p>Tout le monde souhaite avoir une vie plus saine : que ce soit pour perdre du poids ou autre.</p>
                                <p><span><a class="font-500 p-color" href="#"><i class="icofont icofont-arrow-right p-color"></i> Notre conseil pour vous</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Latest Post Single-->

            <!--Start Latest Post Single-->
            <div class="col-lg-6">
                <div class="blog-post-single latest row fix">
                    <div class="col-md-6 p-0">
                        <div class="post-media position-relative">
                            <img src="img/Blog/conseil2.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-details">
                            <div class="post-title">
                                <h4>Douleurs de jambe : que faire pour les soulager ?</h4>
                            </div>
                            <div class="post-content">
                                <p>Les douleurs au niveau de la jambe ou des jambes peuvent vite vous handicaper au quotidien.</p>
                                <p><span><a class="font-500 p-color" href="#"><i class="icofont icofont-arrow-right p-color"></i> Notre conseil pour vous</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Latest Post Single-->

            <!--Start Latest Post Single-->
            <div class="col-lg-6">
                <div class="blog-post-single latest row fix">
                    <div class="col-md-6 p-0">
                        <div class="post-media position-relative">
                            <img src="img/Blog/conseil3.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-details">
                            <div class="post-title">
                                <h4>R&eacute;&eacute;ducation par des professionnels</h4>
                            </div>
                            <div class="post-content">
                                <p>Bien choisir votre kin&eacute; pour aboutir de bons r&eacute;sultats. allez voir les crit&eacute;res de choix.</p>
                                <p><span><a class="font-500 p-color" href="#"><i class="icofont icofont-arrow-right p-color"></i> Notre conseil pour vous</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Latest Post Single-->

            <!--Start Latest Post Single-->
            <div class="col-lg-6">
                <div class="blog-post-single latest row fix">
                    <div class="col-md-6 p-0">
                        <div class="post-media position-relative">
                            <img src="img/Blog/conseil4.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-details">
                            <div class="post-title">
                                <h4>Relaxation pour une vie meilleure </h4>
                            </div>
                            <div class="post-content">
                                <p>Tout le monde souhaite avoir une vie plus saine : que ce soit pour perdre du poids ou autre.</p>
                                <p><span><a class="font-500 p-color" href="#"><i class="icofont icofont-arrow-right p-color"></i> Notre conseil pour vous</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Latest Post Single-->

            <!--Start Button-->
            <div class="col-lg-12">
                <div class="blog-btn text-center">
                    <a href="#">Voir plus de conseils</a>
                </div>
            </div>
            <!--End Button-->
        </div>
        <!--End Blog Post Row-->
    </div>
    <!--End Container-->
</section>
<!--End Latest Blog Section-->

<!--Start Footer-->
<footer id="footer">
    <!--Start Footer Top-->
    <div class="footer-top">
        <!--Start Container-->
        <div class="container">
            <!--Start Row-->
            <div class="row">
                <!--Start Footer About-->
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="footer-about">
                        <h3 class="color-white">Contactez-nous</h3>
                        <p>Local en face de la protection civile <br/>
						Djerba Midoun<br/>
						75 757 575</p>
                    </div>               
              </div>
              <!--End Footer About-->
			  
            <!--Start Footer Instagram-->
            <div class="col-lg-3 col-md-6 mb-3">
             <div class="footer-social-area">
                <h3 class="color-white">Suivez-nous</h3>
                <p class="mb-3">We are happy to see you here.</p>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>                    
                </ul>
            </div>
        </div>
        <!--End Footer Instagram-->

    </div>
    <!--End Row-->
</div>
<!--End Container-->
</div>
<!--End Footer Top-->

<!--Start Footer Bottom-->
<div class="footer-bottom">
    <p class="color-white text-center"> &copy; Copy 2022. All Rights Reserved By Olfa HAMROUNI</p>
</div>
<!--End Footer Bottom-->

<!--Start Click To Top-->
<div class="click-to-top">
    <a href="#body-wrapper" class="js-scroll-trigger"><i class="fas fa-angle-double-up"></i></a>
</div>
<!--End Click To Top-->
</footer>
<!--End Footer-->
</div>
<!--End Body Wrap-->

<!--jQuery JS-->
<script src="js/jquery-1.12.0.min.js"></script>
<!--Custom Google Map JS-->
<script src="js/map-scripts.js"></script>
<!--Slick Js-->
<script src="js/slick.min.js"></script>
<!--Counter JS-->
<script src="js/waypoints.js"></script>
<script src="js/counterup.min.js"></script>
<!--Bootstrap JS-->
<script src="js/bootstrap.min.js"></script>
<!--Magnic PopUp JS-->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--Owl Carousel JS-->
<script src="js/owl.carousel.min.js"></script>
<!--Mixitup JS-->
<script src="js/jquery.mixitup.min.js"></script>
<!--Jquery Easing Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<!--Scrolly JS-->
<script src="js/scrolly.js"></script>
<!--Ajax Contact JS-->
<script src="js/ajax-contact-form.js"></script>
<!--Icon JS-->
<script src="js/ionicons.js"></script>
<!--Main JS-->
<script src="js/custom.js"></script>
</section>
</div>

</body>
</html>